@model IList<Park>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (Park park in Model)
{
    <div class="parks">

        @{
            string imagePath = "/images/parks/" + park.ParkCode + ".jpg";
        }

        <div>
            <a href="/home/detail/@park.ParkCode">
                <img src="@imagePath" />
            </a>
        </div>

        <div>
            <h1>@park.ParkName.ToUpper()</h1>
            <h2>@park.State.ToUpper()</h2>
            <p>@park.ParkDescription</p>
        </div>

    </div>
}